log.txt
project/bin
project/gen
project/libs
project/assets
project/obj
project/local.properties
project/res/values*
project/jni/application/*/libapplication*.so
java-libs/ActionBarSherlock/bin/

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
